//--------------------------------------------------------------
// MENUS
//--------------------------------------------------------------
.header__menu {
	margin: 0;
	padding: 0;

	#menu__trigger {
		display: none;
	}

	a {
		color: $color-font-gray;
		text-decoration: none;
	}

	.menu__trigger--label {
		height: 25px;
		position: absolute;
		right: 15px;
		top: 15px;
		width: 25px;
		z-index: 11;

		@media screen and (min-width: $desktop) {
			display: none;
		}

		&:hover {
			cursor: pointer;
		}

		.fa-bars,
		.fa-close {
			color: $color-white;
			font-size: 24px;
		}

		.fa-close {
			display: none;
		}
	}

	&--container {
		transition: transform 0.5s ease-out;

		@media screen and (max-width: $desktop) {
			align-items: center;
			background: rgba($color-black, 0.95);
			display: flex;
			justify-content: center;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			height: 100%;
			left: 0;
			min-height: 100vh;
			width: 100%;
			z-index: 10;
			transform: translateX(-100%);
		}
	}

	#menu__trigger:checked ~ .menu__trigger--label {

		.fa-bars {
			display: none;
		}

		.fa-close {
			display: block;
		}

		~ .header__menu--container {
			transform: translateX(0%);
		}
	}

	&--horizontal {
		text-align: center;

		@media screen and (min-width: $desktop) {
			align-items: center;
			display: flex;
			justify-content: space-around;
			text-align: left;
		}
	}

	.header__menu--search {
		min-width: 175px;

		#search {
			background: rgba(255,255,255,0.2);
			border: 0;
			color: $color-white;
			font-size: 16px;
			height: 30px;
			line-height: 25px;
			outline: none;
			padding: 5px 10px;

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: $color-white;
			}
			&::-moz-placeholder { /* Firefox 19+ */
				color: $color-white;
			}
			&:-ms-input-placeholder { /* IE 10+ */
				color: $color-white;
			}
			&:-moz-placeholder { /* Firefox 18- */
				color: $color-white;
			}
		}

		#search__trigger {
			display: none;
		}

		#search__trigger:checked ~ .modal {
			opacity: 1;
			visibility: visible;
		}

		.search__icon-container {
			margin-left: 5px;

			&:hover {
				cursor: pointer;
			}
		}

		.fa-search {
			color: $color-white;
			font-size: 18px;
		}
	}
}