//--------------------------------------------------------------
// Menu
//--------------------------------------------------------------
.navigation {
  text-align: center;

  &__list {
    display: flex;
    justify-content: center;
    margin: 30px auto;
  }

  &__item {
    margin-left: 30px;
  }

  &__link {
    color: #8e8e8e;
    display: inline-block;
    text-decoration: none;

    &:after {
      content: '';
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &.active,
    &:hover {
      position: relative;

      &:after {
        background-color: #8e8e8e;
        bottom: 0;
        content: '';
        display: block;
        height: 1px;
        opacity: 1;
        position: absolute;
        width: 100%;
      }
    }
  }
}