//--------------------------------------------------------------
// SKILLS
//--------------------------------------------------------------
.skills__container {
	display: flex;
	justify-content: space-around;
}

.skills__menu {
	border-right: 2px solid $color-border;
	margin-right: 30px;
	width: 100%;

	&:last-child {
		margin-right: 0;
	}

	li {
		display: block;
		margin-right: 5px;
		margin-bottom: 20px;
		position: relative;
		width: 100%;

		&:after {
			background: $color-black;
			content: '';
			display: block;
			position: absolute;
			height: 2px;
			bottom: 0;
			width: 100%;
		}

		&.ninety-five {
			width: 95%;
		}

		&.ninety {
			width: 90%;
		}

		&.eighty-five {
			width: 85%;
		}

		&.eighty {
			width: 80%;
		}

		&.seventy {
			width: 70%;
		}

		&.sixty {
			width: 60%;
		}

		&.fifty {
			width: 50%;
		}
	}
}