//--------------------------------------------------------------
// LINKS
//--------------------------------------------------------------
a {
	color: $color-black;
	transition: color 0.3s;

	&:hover,
	&:focus,
	&:active {
		color: lighten($color-black, 10%);
	}
}