//--------------------------------------------------------------
// TYPOGRAPHY
//--------------------------------------------------------------
body {
	font-family: $font-main;
	font-size: 1em;
	line-height: $font-line-height;
}

//--------------------------------------------------------------
// HEADINGS
//--------------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.125;
	margin-top: 0;
}

h1,
.h1 {
	font-size: 4.3em;
}

h2,
.h2 {
	font-size: 3.125em;
}

p {
	margin-bottom: 24px;
}

.screen-reader-text {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}