//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------
body {
  color: $color-gray-med;
  font-family: $font-sans-alt;
  line-height: 1.3;
}

@for $i from 1 through 6 {
  h#{$i},
  .h#{$i} {
    color: $color-gray-dark;
    font-family: $font-sans;
  }
}


h1 {
  font-size: 36px;
  font-weight: 700;
}

p {
  margin: 0 0 18px 0;
}