//--------------------------------------------------------------
// TYPOGRAPHY
//--------------------------------------------------------------
body {
	font-family: $font-main;
	font-size: 1em;
	line-height: $font-line-height;
}

//--------------------------------------------------------------
// HEADINGS
//--------------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.125;
	margin-top: 0;
}

h1,
.h1 {
	font-size: 2em;
}