//--------------------------------------------------------------
// Home
//--------------------------------------------------------------
.home {

  .main__left {
    background: url('../../assets/images/profile-pic.jpg');
    min-height: 500px;
  }

  .main__right {
    padding-top: 30px;
  }
}