{{> header}}
<div class="content articles">
    <section class="main">
        <h1 class="title">Articles</h1>
        <div class="content-container">
            <div class="main__left">
                <ul class="left-menu">
                    {{#each data}}
                        {{> articleMenu}}
                    {{/each}}
                </ul>
            </div>
            <div class="main__right">
                {{#each data}}
                    {{> article}}
                {{/each}}
            </div>
        </div>
    </section>
</div>