{{> header}}
<div class="content">
    <section class="main">
        <div class="main__left"></div>
        <div class="main__right">
            <p>
                Hi! My name is Eric. Welcome to my page that showcases some of the things I've been working on while enrolled in the BOV Academy.

                I am a front-end developer with a passion for learning new things. I intend on graduating from BOV Academy as a Fullstack Javscript Developer. When I'm not coding, I enjoy the outdoors, traveling, and eating great food.
            </p>
        </div>
    </section>
</div>