{{> header}}
<div class="content home">
	<section class="main">
        <div class="content-container">
            <div class="main__left"></div>
            <div class="main__right">
                {{{data}}}
            </div>
        </div>
	</section>
</div>