{{> header}}
<div class="content projects">
    <section class="main">
        <h1 class="title">Projects</h1>
        <div class="content-container">
            <div class="main__left">
                <ul class="projects-menu">
                    {{#each data}}
                        {{> projectMenu}}
                    {{/each}}
                </ul>
            </div>
            <div class="main__right">
                {{#each data}}
                    {{> panel}}
                {{/each}}
            </div>
        </div>
    </section>
</div>