{{> header}}
<div class="content">
    <section class="main">
        <div class="main__left"></div>
        <div class="main__right">
            <h1>Projects</h1>
        </div>
    </section>
</div>