//--------------------------------------------------------------
// VARIABLES
//--------------------------------------------------------------

//--------------------------------------------------------------
// COLORS
//--------------------------------------------------------------
$color-black: #212121;
$color-border: #ccc;
$color-white: #fff;

//--------------------------------------------------------------
// THEME COLORS
//--------------------------------------------------------------
//$color-dark-shade: #0f3855;
//$color-dark-accent: #815D62;
//$color-main: #70b0c4;
//$color-light-accent: #739D9e;
//$color-light-shade: #f4f2f5;
$color-shade-black: #191919;
//$color-shade-black-accent: #161616;
$color-font-gray: #8e8e8e;

//--------------------------------------------------------------
// FONTS
//--------------------------------------------------------------
$font-color-main: $color-black;
$font-sans: 'Open Sans', sans-serif;
$font-main: $font-sans;
$font-line-height: 1.6;

//--------------------------------------------------------------
// BREAKPOINTS
//--------------------------------------------------------------
$tablet: 768px;
$desktop: 1024px;