//--------------------------------------------------------------
// VARIABLES
//--------------------------------------------------------------

//--------------------------------------------------------------
// COLORS
//--------------------------------------------------------------
$color-black: #212121;
$color-border: #ccc;
$color-white: #fff;

//--------------------------------------------------------------
// FONTS
//--------------------------------------------------------------
$font-color-main: $color-black;
$font-sans: 'Open Sans', sans-serif;
$font-main: $font-sans;
$font-line-height: 1.6;

//--------------------------------------------------------------
// BREAKPOINTS
//--------------------------------------------------------------
$tablet: 768px;
$desktop: 1024px;