//--------------------------------------------------------------
// CONTENT
//--------------------------------------------------------------
.welcome-message {
  margin-bottom: 25px;
  text-align: center;
}

.page-content {
  padding: 100px 0 0;
}

.section {
  padding: 50px 0;

  &__header {
    margin-bottom: 50px;
    text-align: center;
  }

  &__about {

    .profile-pic-container {
      border: 1px solid $color-black;
      border-radius: 3px;
      margin: 0 auto 50px;
      max-width: 215px;
      padding: 5px;
      width: 100%;

      img {
        border-radius: 3px;
        display: block;
      }
    }

    .section__content {
      margin: 0 auto;
      max-width: 700px;
    }
  }

  &__projects {

  }

  &__skills {

    .section__content {
      margin: 0 auto;
      max-width: 700px;

      p {
        text-align: center;
      }
    }
  }

  &__contact {

  }
}