<header class="header">
    <h1 class="header__title">Eric Fuller</h1>
    <nav class="navigation">
        <ul class="navigation__list">
            <li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
            <li class="navigation__item"><a href="#projects" class="navigation__link">Projects</a></li>
            <li class="navigation__item"><a href="#tech" class="navigation__link">Tech</a></li>
            <li class="navigation__item"><a href="#articles" class="navigation__link">Articles</a></li>
        </ul>
    </nav>
</header>